.begginer-card {
  background-color: #daddd8 !important;
  color: #03071e !important;
}

.business-card {
  background-color: #daddd8 !important;
  color: #03071e !important;
}

.enterprise-card {
  background-color: #daddd8 !important;
  color: #03071e !important;
}

.btn-card {
  background-color: #03071e !important;
}

.card {
  border-radius: 20px !important;
  margin-bottom: 20px !important;
  padding: 20px !important;
}
