.app {
  font-family: 'Montserrat', sans-serif;
  text-align: center;

  padding: 20px;

  background-color: #1d3557;
  color: white;
}

.pointer {
  cursor: pointer;
}

.card {
  color: black;
}

footer {
  color: black;
}