.footer {
  background-color: #fefae0;
}

.anchor, a {
  color: black !important;
  text-decoration: none;
}

.anchor:hover {
  transition: all 0.3s linear;
  color: #CAF0F8 !important;
}
  
.title-footer {
  font-size: 2.0rem !important;
  text-align: center;
}


.divisor {
  border-bottom: 1px solid #e0e0e0;
  width: 75%;
}

.icons {
  color: black;
  transition: all 0.3s linear;
}

.icons:hover {
  color: #CAF0F8
}