.navigator {
  background-color: #fefae0 !important;
  margin: 0 !important;
  max-width: 100%;
}

.nav-link, a, li {
  color: black !important;
}

.nav-link:hover {
  transition: all 0.3s linear;
  color: #CAF0F8 !important;
}

.btn:hover {
  transition: all 0.3s linear;
  background-color: #CAF0F8 !important;
}
  